# 데이터 타입 조정

https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv
* 변수(칼럼) 타입 확인 : 데이터.dtypes
* 변수를 범주형으로 변경:
    *데이터['칼럼명'].astype('category')
    
* 변수를 수치형으로 변경
    * 데이터['칼럼명'].astype('int')
    * 데이터['칼럼명'].astype('float')
* NA 값의 처리
    * NA 갯수 체크: 데이터.isna().sum()
    * NA 값 채우기: 데이터['칼럼명'].fillna(특정숫자)

In [1]:
import pandas as pd

In [3]:
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
iris2 = pd.read_csv(file)
iris2.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
# 원핫인코딩
en = pd.get_dummies(iris2)
en.head() # 품종을 범주형으로 인지하지 못함

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [7]:
iris2.dtypes

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [9]:
# 품종 타입 범주형으로 번환
iris2['품종'] = iris2['품종'].astype('category')

In [10]:
iris2.dtypes

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [12]:
en = pd.get_dummies(iris2)
en.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [14]:
# NA 갑 체크
iris2.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [15]:
iris2.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [17]:
# NA갑에 꽃잎폭 평균값을 넣어주는 방법
mean = iris2['꽃잎폭'].mean()
iris2['꽃잎폭'] = iris2['꽃잎폭'].fillna(mean)
iris2.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2