In [3]:
import pandas as pd
import tensorflow as tf

In [5]:
lemonade = pd.read_csv('lemonade.csv')
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [6]:
독립 = lemonade[['온도']] # 종속
종속 = lemonade[['판매량']] # 독립
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [7]:
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)

In [8]:
model.compile(loss='mse')

In [17]:
model.fit(독립, 종속, epochs=10) # verbose=0 - 학습이 완료되는 동안 출력 X

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3893e-04
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3887e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3884e-04
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3865e-04
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3857e-04
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 1.3853e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3857e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3865e-04
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 1.3866e-04
Epoch 10/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3878e-04

#### e-04 = 10^(-4)

In [19]:
model.predict(독립)

1/1 [==============================] - 0s 66ms/step

array([[39.989517],
       [41.98901 ],
       [43.988503],
       [45.987995],
       [47.987484],
       [49.986977]], dtype=float32)

In [20]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [21]:
model.predict([[15]])

1/1 [==============================] - 0s 22ms/step

array([[29.992054]], dtype=float32)